body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.navbar {
  background-color: #27374D;
  color: #fff;
  height: 60px;
  padding: 0 20px;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

.navbar-menu li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 15px;
  padding: 5px;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .navbar {
      height: 120px;
  }

  .navbar-menu {
      float: none;
      display: block;
      text-align: center;
  }

  .navbar-menu li {
      display: block;
      margin: 10px 0;
  }
}
/* CONTACT US */

.header{
    text-align: center;
    margin-top: 10px;
}
.header-title{
    border-bottom: 2px dotted black;
    display: inline;
    
}

.contact-section {
  padding: 50px;
  overflow: hidden;
}

.contact-image {
  float: left;
  width: 55%;
  padding-right: 30px;
  box-sizing: border-box;
}

.contact-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.contact-form {
  overflow: hidden;
}

.contact-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  margin: 0px;
}

form {
  max-width: 400px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.form-group {
  margin-bottom: 20px;
  margin-top: 40px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.submitBtn{
  text-align: center;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .contact-image {
      display: none;
  }

  form {
      margin-left: auto;
      margin-right: auto;
      transform: none;
  }

}
